@import '~antd/dist/antd.less';

@table-row-color: #adc3ce;

.myInput{
  width: 600px;
  height: 38px;
  margin-top: 25px;
}

#table-caption{
  font-weight: bold;
  margin-top: 25px;
}

#table{
  // width: 600px;
  tr{
    height: 35px;
    width: 100%;
    td{
      width: 60%;
    }
  }
}

#login-form-div{
  display: inline-block;
  position: relative;
  left: 150px;
  .login-form-caption{
    margin-bottom: 30px;
  }
  // antd Form 表单
  .login-form{
    width: 300px;
  }
}
