@import '~antd/dist/antd.less';

@color: #adc3ce;

html{
  height: 100%;
  width: 100%;
}

body{
  background-image: url("background.jpg");
  background-size: 100% 100%;
  // background-repeat:no-repeat; 
}

.myInput{
  width: 400px;
  height: 38px;
  margin: 25px;
}

#todolist-page{
  background-image: url("login.jpg");
}

#table-caption{
  font-weight: bold;
  margin-top: 25px;
}

#table{
  background-color: rgb(181, 219, 209);
  
  tr{
    height: 30px;
    width: 100%;
    td{
      width: 65%;
      button{
        margin-left: 20px;
      }
    }
  }
}

.big-title{
  color: transparent;
  background-color : black;
  text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
  -webkit-background-clip : text;
}

.sub-title{
  color: transparent;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.04em;
  font-weight: bold;
}

#login-form-div{
  height: 420px;
  width: 450px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 10px #909090;
  margin-left: 700px;
  margin-top: 30px;
  padding-top: 20px;
}

#login-tabs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form{
  width: 300px;
}

#register-form-div{
  #login-form-div();
  .ant-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
  }
}